.formcontainer label{
    color: var(--main-black) !important;
    line-height: 16px;
    font-weight: 600 !important;
    
}
.formcontainer h3{
    color: var(--main-two) !important;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid;
}
.formcontainer{ 
    margin: 30px 0px 50px 0px;
    column-gap: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.Addform.row {
    padding: 30px 0px;
}

.Goback a svg{
    color: var(--main-two);
    font-size: 20px;
}

.Goback a{
    color: var(--main-black) !important;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

button.btntype2.btn.btn-primary {
    width: auto;
    border-radius: 10px;
    padding: 10px;
}

button.btntype1.btn.btn-primary {
    width: auto;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 20px;
    color: var(--main-two);
    --bs-btn-bg: var(--main-white);
    border: 1px solid var(--main-two);
}

button.btntype1.btn.btn-primary:hover { 
    background-color: var(--main-two);
    color: var(--main-white);
    border: 1px solid var(--main-two);
}

.addImage{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.addsmallimage{
    height: 80px;
    padding: 10px;
    border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, .22);
    box-shadow: 0 2px 6px rgba(0,0,0,.25);
}

