/* for shopping cart */
.cartHeader{
    padding: 10px 0px; 
    border-bottom: 1px solid var(--main-two); 
}

.cartHeader h3,.cartItemContainer h3{
  font-size: 16px !important;
  color: var(--main-two);
}
.cartItemContainer p{
  font-size: 18px !important;
  font-weight: 700;
}

.cartItemContainer.row { 
      align-items: center;
    display: flex;
    row-gap: 3px;
    overflow-y: auto; 
    align-content: flex-start;  
}
.cartCard {
  display: flex;  
    align-items: center;
    padding: 10px;
    margin: 0px;
    background-color: var(--light-grey);
}
 

.cartinfo {
    display: flex;
    position: relative;
    gap: 5px;
    flex-direction: column;
}

.remove-item {
  position: absolute;
  top: 0px; /* Adjust as needed */
  right: 5px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  color: var(--dark-grey);
  cursor: pointer;
}

/* Other styles for buttons */
.increment-btn,
.decrement-btn {
  font-size: 15px;
  color: var(--dark-grey);
}
.priceRow.row {
    display: flex;
    align-items: center;
}

span.amount {
    font-size: 16px !important;
    font-weight: 700;
    margin: 0px 8px;
}


.product-image,.default-image  {
     width: 50px;
    height: 50px;
    border-radius: 20px;
    object-fit: contain;
     border: 1px solid rgba(0,0,0,.22);
}

.cartAmount {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  row-gap: 10px; 
}

p.total-items,p.item-taxs,p.total {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

p.pay {
    display: flex;
    justify-content: center;
    margin-top: 10px;
     padding: 0px;
}
.cartAmount span{
  font-size: 16px;
  font-weight: 700; 
}

.items-count,.item-tax,.total-text{
  color: var(--main-two); 
}
button.btntype2 {
    padding: 10px;
    width: 100%;
    background: var(--main-two);
    color: var(--main-white);
    display: flex;
    justify-content: space-between;
}
button.btntype2:hover {
    border: 1px solid var(--main-two);
    background:transparent;
    color: var(--main-two);
}

.btntype2[disabled],.btntype2[disabled]:hover {
  background-color: var(--dark-grey);
  color:var(--main-white);
  cursor:not-allowed;
}

/* for checkout */