input.keywordsearch.ordersearch.form-control {
    width: 725px !important;
}

.orderSearchContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 900px;
}

button.closeBtn.btn.btn-primary {
    margin-top: 0px !important;
    border-radius: 10px;
}

.cartproductContainer {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    
}

.osearch-icon{
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-two);
    cursor: pointer;
}

.oclear-icon{
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-two);
    cursor: pointer;
}


/* for category carousel */
.BtnProps{
    border: 1px solid var(--main-black);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    align-self: center !important;
    color: var(--main-black);
    line-height: 1em;
}

.BtnProps:hover{
    background-color: var(--main-two); 
    color: var(--main-white); 
}

.smallcategory{
    background-color: var(--light-grey); 
    border-radius: 10px; 
    padding: 10px;
    width: 100px;
    margin: 10px 5px !important;
}

.smallcategory:click, .smallcategory:hover{
     background-color: var(--main-two); 
}
