/**********Header Component*************/
nav.bg-body-tertiary {
  background-color: var(--main-red) !important;
}

.homelogo{
  width:80px !important;
} 

.maincontent{
  height: 100%;
  background-color: var(--main-white) !important;
}

.leftSideBar {
    background-color: var(--main-black) !important;
    height: 100vh;
    width: 180px;
    padding: 30px;
}

.menu-links, .menu-links .user-info, .user-info, a {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.leftSideBar div.row{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.menu-links a{ 
    font-size: 16px;
    justify-content: center; 
    padding: 20px;
    text-decoration: none;
}


.menu-links a svg { 
    font-size: 30px;
    margin-bottom: 10px;
}

.navbar-text a svg{ 
    font-size: 40px; 
    color: var(--main-white);
}
.currentTime{
  border: 1px solid var(--main-white);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: var(--main-black);
    margin-right: 30px ; 
}

@media (min-width: 1400px)
{
  .bg-body-tertiary .container{
  max-width: 1400px;
}
}