.home{
    background-image: url("../Images/LoginBgn.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.homeRow{
    align-items: center;
    min-height: 100vh;
}

.home .homeRow .homeTitle h1{
  background: linear-gradient(to right, rgba(194, 1, 20, 1), rgba(201, 47, 62, 1), rgba(236, 235, 243, 1));
  -webkit-background-clip: text;
  color: transparent;
  font-size: 80px;
}

.formbgn{
    padding: 30px;
    background-color: #1b2328;
    border-radius: 10px;
    width: 400px;
}

.formbgn h3{
    font-size: 32px !important;
    margin-bottom :30px ;
     color:#C20114;
}
.mb-3 {
    margin-bottom: 30px!important;
}
.newUserBgn{
    text-align: center;
    background-color:white;
    border-radius: 10px;
    margin-top: 30px;
    color: #0C120C;
    padding: 30px;
    width: 400px;
}

button.btn.btn-primary {
    width: 340px;
    --bs-btn-bg:#C20114;
    margin-top: 20px !important;
}


button.btn.btn-primary:hover {
    background-color: transparent;
    opacity: 0.8;
}
.homeTitle h4{
 color: #fff;
}

.homeLoginForm{
    margin-left: 10%; 
}
.form-label{
  color:white !important;
}
.subText a{
    color: #C20114 !important;
    text-decoration: underline;
}