* {
  line-height: 1;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
html {
  font-size: 100%;
  height: 100%;
  line-height: 1.4;
}

:root {
  /* colors */
  --main-two: #7662EE;
  --main-black:#0C120C;
  --dark-grey:#6D7275;
  --light-grey:#eeedf5;
  --white-grey:#fff0f07d;
  --main-white:#ffffff;
  /* Font Family */
  --font-family1:'Poppins','SF Mono','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif !important;
  --font-family2: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: var(--main-white) !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: var(--main-black) !important;
  font-family: var(--font-family1);
}





 a{
    text-decoration: none !important;
 }

  h1,h2,h3,h4,h5,h6{
  margin:0;
  padding: 0;
  line-height: normal;
 }

 p,a,li,button,ul{
  margin: 0;
  padding:0;
  line-height: normal;
  text-decoration: none;
 }

 
 a:hover{
  text-decoration: none;
  color: var(--main-two);
 }

 a:visited{
  color: var(--main-white);
 }

 img{
  width: 100%;
  height: auto;
 }

h1{
  font-size: 64px !important;
  font-weight: 700 !important;
}

h2{
  font-size: 48px !important;
  font-weight:700 !important;
}

h3{
  font-size: 36px !important;
  font-weight: 700 !important;
}

p,div{
  font-size: 16px;
  color: var(--main-black);
}

 input#formBasicEmail,input#formBasicPassword ,select#formBasicEmail{
    border-radius: 30px;
    margin-top: 5px;
    padding:10px 20px; 
    border: 1px solid var(--main-two);
}


