.home{
    background-image: url("../Images/bg3.png");
    min-height: 100vh;  
    background-attachment: fixed;
    background-size: cover;
}

.homeRow{
    align-items: center;
    min-height: 100vh;
}

.home .homeRow .homeTitle h1{ 

  color: var(--main-white); 
  font-size: 70px !important;
}

.homeTitle h4{
    font-size: 20px !important;
 color: var(--main-white); 
}
.homeTitle p{
     font-size: 18px !important;
    color: var(--main-white);
}

.formbgn{
    padding: 30px;
    background-color:var(--white-grey);
    border-radius: 30px;
    width: 400px;
}

.formbgn h3{
    font-size: 40px !important;
    margin-bottom: 30px;
    color: var(--main-two);
    text-align: center;
}


.formbgn .myinput{
   border-radius: 30px !important;
}
.mb-3 {
    margin-bottom: 30px!important;
}

button.btn.btn-primary {
    width: 100%;
    border-radius: 30px;
    --bs-btn-bg:var(--main-two);
    border: 1px solid var(--main-two);
    margin-top: 20px !important;
}


button.btn.btn-primary:hover {
    background-color: transparent;
    color:var(--main-black);
    opacity: 0.8;
    border: 1px solid var(--main-two);
}


.homeLoginForm{
    margin-left: 12%; 
}
.form-label{
  color:var(--main-black) !important;
}
.newUserBgn{
    text-align: center;
    background-color:var(--main-two);
    border-radius: 30px;
    margin-top: 30px;
    color:var(--main-white);
    padding: 30px;
    width: 400px; 
}


.subText a{
    color: var(--main-black) !important;
    text-decoration: underline !important;
    display: inline;
}

.subText a:hover{
    color: var(--main-white) !important; 
}