/**********Header Component*************/
.homedashboard{

    height: 100 vh !important;
}
nav.bg-body-tertiary {
  background-color: var(--main-two) !important;
}

.homelogo{
  width:80px !important;
} 

.maincontent{
  height: 100%;
  background-color: var(--main-white) !important;
}

.leftSideBar {
    background-color: var(--main-black) !important;
    width: 180px;
    padding: 30px;
    height: 89.3vh;
}

.menu-links, .menu-links .user-info, .user-info, a {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.leftSideBar div.row{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.menu-links a,.menu-links button{ 
    font-size: 16px;
    justify-content: center; 
    padding: 20px;
    text-decoration: none;
}


.menu-links a svg { 
    font-size: 30px;
    margin-bottom: 10px;
}

.navbar-text a svg{ 
    font-size: 40px; 
    color: var(--main-white);
}
.menu-links a:hover{
  color: var(--main-two) !important;
}
.logout-btn{
  
  font-size: 30px !important;
  margin-left: 30px;
  color: var(--main-white);
  background-color: transparent !important;
}
.currentTime{
  border: 1px solid var(--main-white);
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: var(--main-black);
    margin-right: 30px ; 
}
.mainOutlet{
  padding-right: 0px !important;
}
@media (min-width: 1400px)
{
  .bg-body-tertiary .container{
  max-width: 1400px;
}
}

