.ordermainLayout{
        margin: 0px 0px 50px 0px;
        padding: 0px 0px 0px 10px;
    
}

.orderBase{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
.cartproductContainer{
  display: flex;
    flex-direction: column;
    row-gap: 30px;
}
  

.cartAmountContainer.col { 
    display: grid; 
    grid-template-rows: 8% auto 45%; /* Define rows with percentages */
    border-left: 1px solid rgba(0, 0, 0, .22); 
    height: 90vh;

}

